<h1>Editar partida de Confirmacion</h1>
<center>
<%= form_for(@confirmation_item) do |f| %>
  <% if @confirmation_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@confirmation_item.errors.count, "error") %> prohibited this confirmation_item from being saved:</h2>

      <ul>
      <% @confirmation_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= f.label :tomo_libro, "Tomo del Libro" %>
    <%= f.text_field :tomo_libro, placeholder: "Tomo del libro"  %>
  </div><br>
  <div class="field">
    <%= f.label :numero, "Numero de Partida" %>
    <%= f.text_field :numero, placeholder: "Numero de Partida"  %>
  </div><br>
  <div class="field">
    <%= f.label :pagina, "Pagina del Libro" %>
    <%= f.text_field :pagina, placeholder: "Numero de Pagina"  %>
  </div><br>
  <div class="field">
    <%= f.label :nombre, "Nombre del Confirmado" %>
    <%= f.text_field :nombre, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :edad, "Edad del confirmado" %>
    <%= f.text_field :edad, placeholder: "Edad"  %>
  </div><br>
  <div class="field">
    <%= f.label :padre, "Nombre del Padre" %>
    <%= f.text_field :padre, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :madre, "Nombre de la Madre" %>
    <%= f.text_field :madre, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :padrino, "Nombre del Padrino" %>
    <%= f.text_field :padrino, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :madrina, "Nombre de la Madrina" %>
    <%= f.text_field :madrina, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :parroquia_confirmacion, "Nombre de la Parroquia de Confirmacion" %>
    <%= f.text_field :parroquia_confirmacion, placeholder: "Nombre de la Parroquia"  %>
  </div><br>
  <div class="field">
    <%= f.label :fecha_confirmacion, "Fecha de Confirmacion" %>
    <%= f.date_select :fecha_confirmacion, :start_year => 1830, :end_year=>2013 %>
  </div><br>
  <div class="field">
    <%= f.label :parroquia_bautizo, "Nombre de la Parroquia de Bautizo" %>
    <%= f.text_field :parroquia_bautizo, placeholder: "Nombre de la Parroquia"  %>
  </div><br>
  <div class="field">
    <%= f.label :fecha_bautizo, "Fecha de Bautizo" %>
    <%= f.date_select :fecha_bautizo, :start_year => 1830, :end_year=>2013 %>
  </div><br>
  <div class="field">
    <%= f.label :celebrante, "Celebrante" %>
    <%= f.text_field :celebrante, placeholder: "Nombre Completo"  %>
  </div><br>
  <!--div class="field">
    <%= f.label :validado %>
    <%= f.check_box :validado %>
  </div>
  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :user %>
  </div>

  <div class="field">
    <%= f.label :confirmation_book %>
    <%= f.text_field :confirmation_book %>
  </div-->
  <div class="actions">
    <%= f.submit "Guardar"%>
  </div><br>
<% end %>


<%= button_to 'Ver', @confirmation_item, :method => :get %>
</center>
<a href = "/confirmation_books/<%= @confirmation_item.confirmation_book.id %>"> Volver </a>

