<br><h1>Partidas de Confirmacion</h1>
<!--%= link_to 'Nueva Partida de Confirmacion', new_confirmation_item_path %>-->
<br>
<CENTER>
<table border=1>
  <tr>
    <th>Nombre</th>
    
    <th>Libro de Confirmacion</th>
    
    <th>Pagina</th>
    
    <th>Numero de Partida</th>
    
    
    
    <!--th>Edad</th>
    <th>Padre</th>
    <th>Madre</th>
    <th>Padrino</th>
    <th>Madrina</th>
    <th>Parroquia confirmacion</th>
    <th>Fecha confirmacion</th>
    <th>Parroquia bautizo</th>
    <th>Fecha bautizo</th>
    <th>Celebrante</th-->
    <!--th>Validado</th>
    <th>User</th-->
    
  </tr>

<% @confirmation_items.each do |confirmation_item| %>
  <tr>
    <td><center><%= confirmation_item.nombre %></center></td>
    
    <td><center><%= link_to confirmation_item.confirmation_book.codigo, confirmation_item.confirmation_book %></center></td>
    
    <td><center><%= confirmation_item.pagina %></center></td>
    
    <td><center><%= confirmation_item.numero %></center></td>
    
    <!--td><%= confirmation_item.tomo_libro %></td>
    
    
    
    <td><%= confirmation_item.edad %></td>
    <td><%= confirmation_item.padre %></td>
    <td><%= confirmation_item.madre %></td>
    <td><%= confirmation_item.padrino %></td>
    <td><%= confirmation_item.madrina %></td>
    <td><%= confirmation_item.parroquia_confirmacion %></td>
    <td><%= confirmation_item.fecha_confirmacion %></td>
    <td><%= confirmation_item.parroquia_bautizo %></td>
    <td><%= confirmation_item.fecha_bautizo %></td>
    <td><%= confirmation_item.celebrante %></td-->
    <!--td><%= confirmation_item.validado %></td>
    <td><%= confirmation_item.user %></td-->
    
    <td><%= link_to 'Ver', confirmation_item %></td>
    <td><%= link_to 'Editar', edit_confirmation_item_path(confirmation_item) %></td>
    <!--td><%= link_to 'Eliminar', confirmation_item, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
  </tr>
<% end %>
</table>
</CENTER>
<div align="left"><%= button_to 'Volver', confirmation_books_path, :method => :get %></div>