<p id="notice"><%= notice %></p>
<br>
<CENTER><p>
<h2>DATOS DE LA PARTIDA</h2>
</p>
<p>
  <b>Tomo del libro:</b>
  <%= @confirmation_item.tomo_libro %>
</p>

<p>
  <b>Numero:</b>
  <%= @confirmation_item.numero %>
</p>

<p>
  <b>Pagina:</b>
  <%= @confirmation_item.pagina %>
</p>

<p>
  <b>Nombre:</b>
  <%= @confirmation_item.nombre %>
</p>

<p>
  <b>Edad:</b>
  <%= @confirmation_item.edad %>
</p>

<p>
  <b>Padre:</b>
  <%= @confirmation_item.padre %>
</p>

<p>
  <b>Madre:</b>
  <%= @confirmation_item.madre %>
</p>

<p>
  <b>Padrino:</b>
  <%= @confirmation_item.padrino %>
</p>

<p>
  <b>Madrina:</b>
  <%= @confirmation_item.madrina %>
</p>

<p>
  <b>Parroquia de confirmacion:</b>
  <%= @confirmation_item.parroquia_confirmacion %>
</p>

<p>
  <b>Fecha de confirmacion:</b>
  <%= @confirmation_item.fecha_confirmacion %>
</p>

<p>
  <b>Parroquia de bautizo:</b>
  <%= @confirmation_item.parroquia_bautizo %>
</p>

<p>
  <b>Fecha de bautizo:</b>
  <%= @confirmation_item.fecha_bautizo %>
</p>

<p>
  <b>Celebrante:</b>
  <%= @confirmation_item.celebrante %>
</p>

<!--p>
  <b>Validado:</b>
  <%= @confirmation_item.validado %>
</p>

<p>
  <b>User:</b>
  <%= @confirmation_item.user %>
</p-->

<!--p>
  <b>Confirmation book:</b>
  <%= @confirmation_item.confirmation_book.codigo %>
</p-->
</CENTER>
<br>
<br>

<!--%= link_to 'Editar', edit_confirmation_item_path(@confirmation_item) %> |-->
<DIV align="left"><a href = "/confirmation_books/<%= @confirmation_item.confirmation_book.id %>"> Volver </a></DIV>
<DIV align="Right"><a href = "/confirmation_items/<%= @confirmation_item.id %>/print"> Imprimir </a></DIV>
