<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @baptism_book.codigo %>
</p>

<p>
  <b>Numero:</b>
  <%= @baptism_book.numero %>
</p>

<p>
  <b>Paginas:</b>
  <%= @baptism_book.paginas %>
</p>

<p>
  <b>Partidas pagina:</b>
  <%= @baptism_book.partidas_pagina %>
</p>

<!--p>
  <b>Validado:</b>
  <%= @baptism_book.validado %>
</p>

<p>
  <b>User:</b>
  <%= @baptism_book.user %>
</p-->


<!--%= link_to 'Editar', edit_baptism_book_path(@baptism_book) %> |-->
<%= link_to 'Volver', baptism_books_path %>
