<h1>Listando validaciones</h1>

<br>
<Center>
<table border=1>
  <tr>
    <th>Comentario</th>
    
    <th>Tabla</th>
    
    <th>Id dato</th>
    
    <th>Valido</th>
    
    <th>Usuario</th>
  </tr>

<% @validators.each do |validator| %>
  <tr>
    <td><Center><%= validator.comentario %></Center></td>
    
    <td><Center><%= validator.tabla %></Center></td>
    
    <td><Center><%= validator.id_dato %></Center></td>
    
    <td><Center><%= validator.valido %></Center></td>
    
    <td><Center><%= validator.user.email %></Center></td>
    
    <td><%= link_to 'Mostrar', validator %></td>
    <% if current_user.rol != 2 %> 
        <td><%= link_to 'Editar', edit_validator_path(validator) %></td>
        <td><%= link_to 'Eliminar', validator, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
    <% else %>
        <td><%= link_to 'Editar', validator %></td>
    <% end %>
  </tr>
<% end %>
</table>
</Center>
<br />

<!--<%= link_to 'New Validator', new_validator_path %>-->
