<p id="notice"><%= notice %></p>
<h2>Datos de Validacion</h2>
<p>
  <b>Comentario:</b>
  <%= @validator.comentario %>
</p>

<p>
  <b>Valido:</b>
  <%= @validator.valido %>
</p>

<p>
  <b>Tabla:</b>
  <%= @validator.tabla %>
</p>

<p>
  <b>Id dato:</b>
  <%= @validator.id_dato %>
</p>

<p>
  <b>Creador:</b>
  <%= @validator.user.email %>
</p>


<%= link_to 'Editar', edit_validator_path(@validator) %> |
<%= link_to 'Lista de Validaciones', validators_path %>
