<% if current_user != nil %>
  <% if current_user.rol == 1 %>
<h2>Ingresar al sistema</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email, "Email" %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password, "Password" %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Registrar" %></div>
<% end %>

<!--<%= render "devise/shared/links" %>-->
  <%else%>
    <br>
    Usted No tiene permitido ingresar a esta pagina
  <%end%>
<%else%>
  <br>
  Usted No tiene permitido ingresar a esta pagina
<%end%>