<% if current_user != nil %>
  <% if current_user.rol == 1 %>
<h1>Informacion de Modificacion de Datos</h1>
<br>
<h2> Usuario: <%= @change.user.email %> </h2>
<% if @change.user.status%>
	Estado: Activo
<%else%>
	Estado: Inactivo
<%end%>
<br>
<h3>Fecha: <%= @change.created_at %></h3>
Tabla del Dato: <%= @change.source_table %> <br>
Id del Dato: <%= @change.id_datum %> <br>
Campos modificados:<br>
<table border=1>
  <tr>
  	<th>Posicion en tabla</th>
  	<th>Dato Antiguo</th>
    <th>Nuevo Dato</th>
  </tr>
<% @change.updated_data_table_items.each do |data| %>
  <tr>
  	<td><Center><%= data.item%></Center></td>
  	<td><Center><%= data.old_data%></Center></td>
    <td><Center><%= data.new_data %></Center></td>
  </tr>
<% end %>
</table>
<br />
<a href="/user_logs/changes_index" > Log de Modificaciones </a> 
<br />
<%= link_to 'Lista de Usuarios', user_managers_path %>
  <%else%>
    <br>
    Usted No tiene permitido ingresar a esta pagina
  <%end%>
<%else%>
  <br>
  Usted No tiene permitido ingresar a esta pagina
<%end%>