<h1>Libros de confirmación</h1>
<%= link_to 'Crear Nuevo Libro', new_confirmation_book_path %>
<CENTER>
<table>
  <tr>
    <th>Codigo</th>
    <th>Numero</th>
    <th>Paginas</th>
    <th>Partidas pagina</th>
    <!--th>Validado</th-->
    <!--th>User</th-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @confirmation_books.each do |confirmation_book| %>
  <tr>
    <td><%= confirmation_book.codigo %></td>
    <td><%= confirmation_book.numero %></td>
    <td><%= confirmation_book.paginas %></td>
    <td><%= confirmation_book.partidas_pagina %></td>
    <!--td><%= confirmation_book.validado %></td-->
    <!--td><%= confirmation_book.user %></td-->
    <td><%= link_to 'Ver', confirmation_book %></td>
    <!--td><%= link_to 'Editar', edit_confirmation_book_path(confirmation_book) %></td-->
    <!--td><%= link_to 'Eliminar', confirmation_book, method: :delete, data: { confirm: 'Seguro?' } %></td-->
  </tr>
<% end %>
</table>
</CENTER>