<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @confirmation_book.codigo %>
</p>

<p>
  <b>Numero:</b>
  <%= @confirmation_book.numero %>
</p>

<p>
  <b>Paginas:</b>
  <%= @confirmation_book.paginas %>
</p>

<p>
  <b>Partidas pagina:</b>
  <%= @confirmation_book.partidas_pagina %>
</p>

<!--p>
  <b>Validado:</b>
  <%= @confirmation_book.validado %>
</p-->

<!--p>
  <b>User:</b>
  <%= @confirmation_book.user %>
</p-->
<h2>Partidas:</h2>

<table>
  <tr>
    <th>Tomo libro</th>
    <th>Numero</th>
    <th>Pagina</th>
    <th>Nombre</th>
    <th>Edad</th>
    <th>Padre</th>
    <th>Madre</th>
    <th>Padrino</th>
    <th>Madrina</th>
    <th>Parroquia confirmacion</th>
    <th>Fecha confirmacion</th>
    <th>Parroquia bautizo</th>
    <th>Fecha bautizo</th>
    <th>Celebrante</th>
    <!--th>Validado</th>
    <th>User</th-->
    <!--th>Confirmation book</th-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @confirmation_book.confirmation_items.each do |confirmation_item| %>
  <tr>
    <td><%= confirmation_item.tomo_libro %></td>
    <td><%= confirmation_item.numero %></td>
    <td><%= confirmation_item.pagina %></td>
    <td><%= confirmation_item.nombre %></td>
    <td><%= confirmation_item.edad %></td>
    <td><%= confirmation_item.padre %></td>
    <td><%= confirmation_item.madre %></td>
    <td><%= confirmation_item.padrino %></td>
    <td><%= confirmation_item.madrina %></td>
    <td><%= confirmation_item.parroquia_confirmacion %></td>
    <td><%= confirmation_item.fecha_confirmacion %></td>
    <td><%= confirmation_item.parroquia_bautizo %></td>
    <td><%= confirmation_item.fecha_bautizo %></td>
    <td><%= confirmation_item.celebrante %></td>
    <!--td><%= confirmation_item.validado %></td>
    <td><%= confirmation_item.user %></td-->
    <!--td><%= confirmation_item.confirmation_book %></td-->
    <td><%= link_to 'Ver', confirmation_item %></td>
    <!--td><%= link_to 'Editar', edit_confirmation_item_path(confirmation_item) %></td>
    <td><%= link_to 'Eliminar', confirmation_item, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
  </tr>
<% end %>
</table>

<h2>Agregar Partida:</h2>
<%= render "confirmation_items/form" %>



<!--%= link_to 'Editar', edit_confirmation_book_path(@confirmation_book) %> |-->
<%= link_to 'Volver', confirmation_books_path %>
