<p id="notice"><%= notice %></p>
<br>
<CENTER><p>
<h2>DATOS DEL LIBRO</h2>
</p>
<p>
  <b>Codigo Del Libro:</b>
  <%= @confirmation_book.codigo %>
</p>

<p>
  <b>Numero De Libro:</b>
  <%= @confirmation_book.numero %>
</p>

<p>
  <b>Cantidad de Paginas Del Libro:</b>
  <%= @confirmation_book.paginas %>
</p>

<p>
  <b>Cantidad de Partidas Por Pagina:</b>
  <%= @confirmation_book.partidas_pagina %>
</p>
<%= button_to 'Editar', edit_confirmation_book_path(@confirmation_book), :method => :get %>
<br>
</CENTER> 
<div align="left"><%= button_to 'Volver', confirmation_books_path, :method => :get %></div>
<!--p>
  <b>Validado:</b>
  <%= @confirmation_book.validado %>
</p-->

<!--p>
  <b>User:</b>
  <%= @confirmation_book.user %>
</p-->
<br>
<Center>
<h2>Partidas:</h2>

<table border=1>
  <tr>
    <th>Tomo del libro</th>
    
    <th>Numero de Libro</th>
    
    <th>Pagina</th>
    
    <th>Nombre</th>
    
    <!--th>Edad</th>
    <th>Padre</th>
    <th>Madre</th>
    <th>Padrino</th>
    <th>Madrina</th-->
    <th>Parroquia confirmacion</th>
    
    <th>Fecha confirmacion</th>
    
    <!--th>Parroquia bautizo</th>
    <th>Fecha bautizo</th>
    <th>Celebrante</th-->
    <!--th>Validado</th>
    <th>User</th-->
    <!--th>Confirmation book</th-->
    
  </tr>

<% @confirmation_book.confirmation_items.each do |confirmation_item| %>
  <tr>
    <td><Center><%= confirmation_item.tomo_libro %></Center></td>
    
    <td><Center><%= confirmation_item.numero %></Center></td>
    
    <td><Center><%= confirmation_item.pagina %></Center></td>
    
    <td><Center><%= confirmation_item.nombre %></Center></td>
    
    <!--td><%= confirmation_item.edad %></td>
    <td><%= confirmation_item.padre %></td>
    <td><%= confirmation_item.madre %></td>
    <td><%= confirmation_item.padrino %></td>
    <td><%= confirmation_item.madrina %></td-->
    <td><Center><%= confirmation_item.parroquia_confirmacion %></Center></td>
    
    <td><Center><%= confirmation_item.fecha_confirmacion %></Center></td>
    
    <!--td><%= confirmation_item.parroquia_bautizo %></td>
    <td><%= confirmation_item.fecha_bautizo %></td>
    <td><%= confirmation_item.celebrante %></td-->
    <!--td><%= confirmation_item.validado %></td>
    <td><%= confirmation_item.user %></td-->
    <!--td><%= confirmation_item.confirmation_book %></td-->
    <td><%= link_to 'Ver', confirmation_item %></td>
    <td><%= link_to 'Editar', edit_confirmation_item_path(confirmation_item) %></td>
    <!--td><%= link_to 'Eliminar', confirmation_item, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
  </tr>
<% end %>
</table>
</Center>
<br>
<br>


<script type="text/javascript">
    $(document).ready(function(){
    $("button").click(function(){
        $("#hide").toggle();
    });
});
</script>
<Center><button>Formulario de Partidas</button></Center>
<div id="hide" style="display:none">
<%= render "confirmation_items/form" %>
</div>
