<p id="notice"><%= notice %></p>
<CENTER>
<p>
  <b>Nombre:</b>
  <%= @church.nombre %>
</p>

<p>
  <b>Vicaria:</b>
  <%= @church.vicaria %>
</p>



<%= link_to 'Editar', edit_church_path(@church) %>
</CENTER>
<div align="left"><%= button_to 'Volver', churches_path, :method => :get %></div>
