<h1>Libros de Matrimonio</h1>
<%= button_to 'Crear Nuevo Libro', new_marriege_book_path, :method => :get %>
<br>
<div id="hide">
<br>
<form method="GET" action="/marriege_books/search">
	Codigo: <input type="text" name="codigo"> &nbsp;&nbsp;&nbsp; Parroquia: <input type="text" name="parroquia">
	&nbsp;&nbsp;&nbsp; <input type="submit" value="Filtrar">
</form>
<br>
<br>
<form method="GET" action="/marriege_books/searchName">
    Nombre: <input type="text" name="nombre"> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Buscar">
</form>
</div>
<br>
<br>
<CENTER>
<table border=1>
  <tr>
    <th><%=link_to "Codigo", :sort => "Codigo" %></th> 
    
    <th>Numero</th>
    
    <th><%=link_to "Parroquia", :sort => "Parroquia" %></th>
    
    <th>Paginas</th>
    
    <th>Partidas pagina</th>
    
    <!--th>Validado</th>
    <th>User</th-->
    
  </tr>
<% @marriege_books.each do |marriege_book| %>
  <tr>
    <td><CENTER><%= marriege_book.codigo %></CENTER></td>
    
    <td><CENTER><%= marriege_book.numero %></CENTER></td>
    
    <td><CENTER><%= marriege_book.parroquia %></CENTER></td>
    
    <td><CENTER><%= marriege_book.paginas %></CENTER></td>
    
    <td><CENTER><%= marriege_book.partidas_pagina %></CENTER></td>
    
    <!--td><%= marriege_book.validado %></td>
    <td><%= marriege_book.user %></td-->
    <td><%= link_to 'Ver', marriege_book %></td>
    <td><%= link_to 'Editar', edit_marriege_book_path(marriege_book) %></td>
    <!--td><%= link_to 'Eliminar', marriege_book, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
  </tr>
<% end %>
</table>
<br>
<% if current_user.rol != 2 %>
<%= link_to "Validar Libros", '/validators/pending_index/marriege_books'%> |
<% end %>
<%= link_to "Ver validaciones de Libros", '/validators/not_valid_index/Libro de Matrimonio'%>
<br><br>
<% if current_user.rol != 2 %>
<%= link_to "Validar Partidas", '/validators/pending_index/marriege_items'%> |
<% end %>
<%= link_to "Ver validaciones de Partidas", '/validators/not_valid_index/Partida de Matrimonio'%>
<br><br>
<%= link_to "Ver Todas las Partidas", '/marriege_items'%>
</CENTER>