<h1>Libros de Matrimonio</h1>
<%= link_to 'Crear Nuevo Libro', new_marriege_book_path %>
<br>
<form method="GET" action="/marriege_books/search">
	Codigo: <input type="text" name="codigo"> &nbsp;&nbsp;&nbsp; Parroquia: <input type="text" name="parroquia">
	&nbsp;&nbsp;&nbsp; <input type="submit" value="Filtrar">
</form>
<br>
<br>
<form method="GET" action="/marriege_books/searchName">
    Nombre: <input type="text" name="nombre"> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Buscar">
</form>
<br>
<br>
<CENTER>
<table>
  <tr>
    <th>Codigo</th>
    <th>Numero</th>
    <th>Parroquia</th>
    <th>Paginas</th>
    <th>Partidas pagina</th>
    <!--th>Validado</th>
    <th>User</th-->
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= will_paginate %>
<% @marriege_books.each do |marriege_book| %>
  <tr>
    <td><%= marriege_book.codigo %></td>
    <td><%= marriege_book.numero %></td>
    <td><%= marriege_book.parroquia %></td>
    <td><%= marriege_book.paginas %></td>
    <td><%= marriege_book.partidas_pagina %></td>
    <!--td><%= marriege_book.validado %></td>
    <td><%= marriege_book.user %></td-->
    <td><%= link_to 'Ver', marriege_book %></td>
    <td><%= link_to 'Editar', edit_marriege_book_path(marriege_book) %></td>
    <!--td><%= link_to 'Eliminar', marriege_book, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
  </tr>
<% end %>
<%= will_paginate %>
</table>
<br>
<%= link_to "Validar Libros", '/validators/pending_index/marriege_books'%>
<br><br>
<%= link_to "Validar Partidas", '/validators/pending_index/marriege_items'%>
</CENTER>