<br>
<br>
<br>

<% if current_user != nil %>
	<% if current_user.rol == 1 %>
		
<h1>Lista de Usuarios</h1>

<br>	
<form method="GET" action="/user_managers/search">
	BUSCAR USUARIO:   
	<input type="text" name="email">
	<input type="submit" value="Buscar">
</form>
<br>	

<br>
<table>
<tr>
<th> Id </th>
<th> Correo electronico </th>
<th> Rol </th>
<th> Estado </th>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
<th> </th>
</tr>
<%= will_paginate %>
<% @users.each do |user| %>
	<tr>
	<td> <%=user.id%> </td>
	</td>
	<td> <%= user.email %> </td>
	</td>
	<% if user.rol == 1%>
		<td> Administrador </td>
	<% else %>
		<% if user.rol == 2%>
			<td> Redactor </td>
		<% else %>
			<% if user.rol == 3%>
				<td> Validador </td>
			<%end%>
		<%end%>
	<%end%>
	</td>
	<% if user.status %>
		<td>Activo</td>
	<% else %>
		<td>Inactivo</td>
	<% end %>
	</td> 
	<!--<td> <a href="/user_managers/show/<%=user.id%>" > Ver informacion de usuario |  </a> </td>-->
	<td><a href="/user_logs/user_logs_index/<%=user.id%>"> Ver Sesiones </a> </td>
	<td><a href="/user_logs/user_changes_index/<%=user.id%>"> Ver Modificaciones </a> </td>
	<td> <a href="/user_managers/edit/<%=user.id%>" > Editar Rol |  </a> </td>
	<td> <a href="/user_managers/edit_password/<%=user.id%>" > Editar Password |  </a> </td>
    <td> <a href="/user_managers/delete/<%=user.id%>" > Cambiar Estado </a> </td>
	</tr>
<% end %>
<%= will_paginate %>	
</table>
<br>
<a href="/user_managers/new"> Registrar Nuevo Usuario </a> 
<br>
<a href="/user_logs" > Ver Log de Usuarios </a> 
<br>
<a href="/user_logs/changes_index" > Ver Log de Modificaciones </a> 
<br>
<a href="/churches/new"> Crear Nueva Parroquia </a>
<br>

	<%else%>
		<br>
		Usted NO tiene permitido ingresar a esta pagina
	<%end%>
<%else%>
	<br>
	Usted NO tiene permitido ingresar a esta pagina
<%end%>