<%= form_for([@baptism_book, @baptism_book.baptism_items.build]) do |f| %>

  <div class="field">
    <%= f.label :tomo_libro, "Tomo del Libro" %>
    <%= f.text_field :tomo_libro, placeholder: "Tomo del libro" %>
  </div><br>
  <div class="field">
    <%= f.label :numero, "Numero de Partida" %>
    <%= f.text_field :numero, placeholder: "Numero de Partida" %>
  </div><br>
   <div class="field">
    <%= f.label :pagina, "Numero de Pagina" %>
    <%= f.text_field :pagina, placeholder: "Numero de Pagina" %>
  </div><br>
  <div class="field">
    <%= f.label :nombre, "Nombre del Bautizado" %>
    <%= f.text_field :nombre, placeholder: "Nombre del Bautizado" %>
  </div><br>
  <div class="field">
    <%= f.label :fecha_bautizo, "Fecha de Bautizo" %>
    <%= f.date_select :fecha_bautizo, :start_year => 1830, :end_year=>2013 %>
  </div><br>
  <div class="field">
    <%= f.label :celebrante, "Celebrante" %>
    <%= f.text_field :celebrante, placeholder: "Celebrante" %>
  </div><br>
  <div class="field">
    <%= f.label :lugar_nacimiento, "Lugar de Nacimiento" %>
    <%= f.text_field :lugar_nacimiento, placeholder: "Lugar de Nacimiento" %>
  </div><br>
  <div class="field">
    <%= f.label :fecha_nacimiento, "Fecha de Nacimiento" %>
    <%= f.date_select :fecha_nacimiento, :start_year => 1830, :end_year=>2013 %>
  </div><br>
  <div class="field">
    <%= f.label :tipo_hijo, "Tipo de Hijo" %>
    <%= f.text_field :tipo_hijo, placeholder: "Tipo de Hijo" %>
  </div><br>
  <div class="field">
    <%= f.label :padre, "Nombre del Padre" %>
    <%= f.text_field :padre, placeholder: "Nombre del Padre" %>
  </div><br>
  <div class="field">
    <%= f.label :madre, "Nombre de la Madre" %>
    <%= f.text_field :madre, placeholder: "Nombre de la Madre" %>
  </div><br>
  <div class="field">
    <%= f.label :feligreses, "Feligreses de..." %>
    <%= f.text_field :feligreses, placeholder: "Parroquia" %>
  </div><br>
  <div class="field">
    <%= f.label :padrino, "Nombre del Padrino" %>
    <%= f.text_field :padrino, placeholder: "Nombre del Padrino" %>
  </div><br>
  <div class="field">
    <%= f.label :madrina, "Nombre de la Madrina" %>
    <%= f.text_field :madrina, placeholder: "Nombre de la Madrina" %>
  </div><br>
  <div class="field">
    <%= f.label :oficialia, "Numero de Oficialia" %>
    <%= f.text_field :oficialia, placeholder: "Numero de Oficialia" %>
  </div><br>
  <div class="field">
    <%= f.label :encargado, "Encargado de la Parroquia" %>
    <%= f.text_field :encargado, placeholder: "Nombre del Encargado" %>
  </div><br>
  
  <!--div class="field">
    <%= f.label :validado %><br />
    <%= f.check_box :validado %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :baptism_book %><br />
    <%= f.text_field :baptism_book %>
  </div-->
   
  <div class="actions">
    <%= f.submit "Crear Partida de Bautizo" %>
  </div>
<% end %>
