<h1>Todas Las Partidas De Bautizo</h1>
<!--%= link_to 'Nueva Partida de Bautizo', new_baptism_item_path %>-->
<CENTER>
<table border="1" >
  <tr>
    <!--th>Tomo de libro</th-->
    <th><%=link_to "Nombre", :sort => "Nombre" %></th>
    
    <th>Libro de bautizo</th>
    
    <th>Pagina</th>
    
    <th>Numero de Partida</th>
    
    
    
    <!--th>Fecha bautizo</th>
    <th>Celebrante</th>
    <th>Lugar nacimiento</th>
    <th>Fecha nacimiento</th>
    <th>Tipo hijo</th>
    <th>Padre</th>
    <th>Madre</th>
    <th>Feligreses</th>
    <th>Padrino</th>
    <th>Madrina</th>
    <th>Oficialia</th>
    <th>Encargado</th-->
    <!--th>Validado</th-->
    <!--th>User</th-->
  </tr>

<% @baptism_items.each do |baptism_item| %>
  <tr>
    <!--td><%= baptism_item.tomo_libro %></td-->
    <td><center><%= baptism_item.nombre %></center></td>
    
    <td><center><%= link_to baptism_item.baptism_book.codigo, baptism_item.baptism_book %></center></td>
    
    <td><center><%= baptism_item.pagina %></center></td>
    
    <td><center><%= baptism_item.numero %></center></td>
    
    
    
    <!--td><%= baptism_item.fecha_bautizo %></td>
    <td><%= baptism_item.celebrante %></td>
    <td><%= baptism_item.lugar_nacimiento %></td>
    <td><%= baptism_item.fecha_nacimiento %></td>
    <td><%= baptism_item.tipo_hijo %></td>
    <td><%= baptism_item.padre %></td>
    <td><%= baptism_item.madre %></td>
    <td><%= baptism_item.feligreses %></td>
    <td><%= baptism_item.padrino %></td>
    <td><%= baptism_item.madrina %></td>
    <td><%= baptism_item.oficialia %></td>
    <td><%= baptism_item.encargado %></td-->
    <!--td><%= baptism_item.validado %></td-->
    <!--td><%= baptism_item.user %></td-->
    
    <td><%= link_to 'Ver', baptism_item %></td>
    <td><%= link_to 'Editar', edit_baptism_item_path(baptism_item) %></td>
    <!--<td><%= link_to 'Eliminar', baptism_item, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
  </tr>
<% end %>
</table>
<br>
</CENTER>
<DIV Align=left>
  <%= button_to 'Volver', baptism_books_path, :method => :get %>
  
</DIV>



