
<HTML>
<HEAD>
<link rel="stylesheet" href="print.css" type="text/css" media="print" />
</HEAD>
<BODY onLoad="window.print();">
<DIV style="position: absolute;top: 200px; font-family:Times News Roman; font-size:22px; width: 400px; left: 600px; height: 25px;">PBRO. HONNY VILLARROEL RAMIREZ<BR>CANCILLER<BR>ARZOBISPADO DE COCHABAMBA</DIV>

<DIV style="position: absolute;top:450px; font-size:22px; width:400px; font-family:Times News Roman; left: 50px; height: 25px;">CERTIFICA:</DIV>

<DIV style="position: absolute;top: 520px; font-size:22px; font-family:Times News Roman; width: 805px; left: 160px; height: 35px;">Que en el Libro Duplicado de Bautizos No <%=@baptism_item.baptism_book.numero%>, de la Parroquia <%=@baptism_item.baptism_book.parroquia%>, en la pag. <%=@baptism_item.pagina%>, ptda. No <%=@baptism_item.numero%>, correspondiente al año <%=@baptism_item.fecha_bautizo.year%>, se encuentra la siguiente Partida de Bautizo, que a la letra dice: </DIV><BR><BR><BR>

<DIV style="position: absolute;top: 650px; font-size:22px; width: 805px; font-family:Times News Roman; left: 160px; height: 35px;">"En esta Parroquia <%=@baptism_item.baptism_book.parroquia%>, el <%=I18n.localize(@baptism_item.fecha_bautizo, :format => :long)%>, el Diác. <%=@baptism_item.celebrante%>, bautizó solemnemente a <B><%=@baptism_item.nombre%></B>, nacido en <%=@baptism_item.lugar_nacimiento%> el <%= I18n.localize(@baptism_item.fecha_nacimiento, :format => :long)%>, hijo <%=@baptism_item.tipo_hijo%> de <%=@baptism_item.padre%> y de <%=@baptism_item.madre%>, feligreses de <%=@baptism_item.feligreses%>, fueron padrinos: <%=@baptism_item.padrino%> y <%=@baptism_item.madrina%>. Oficialía Reg. Civ No <%=@baptism_item.oficialia%>, Libro <%=@baptism_item.baptism_book.numero%>, Partida No <%=@baptism_item.numero%> de que doy fé, Yo el Párroco Pbro. <%=@baptism_item.encargado%>"</DIV>

<CENTER><DIV style="position: absolute; top: 850px; left:350px; font-size:22px; width: 400px; font-family:Times News Roman; ">Es cuanto certifica para fines consiguientes. Cochabamba, <%=I18n.localize(Date.today, :format => :long)%></DIV></CENTER>

<DIV style="position: absolute; top: 1200px; left:50px; font-size:22px; width: 805; font-family:Times News Roman; "><U>Nota.-</U> Cualquier enmienda o raspadura en el presente Certificado lo hacen nulo y sin valor legal.</DIV>

</BDOY>
</HTML>