<h1>Listing change_logs</h1>

<table>
  <tr>
    <th>Hora</th>
    <th>Tabla</th>
    <th>Id objeto</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @change_logs.each do |change_log| %>
  <tr>
    <td><%= change_log.hora %></td>
    <td><%= change_log.tabla %></td>
    <td><%= change_log.id_objeto %></td>
    <td><%= change_log.user %></td>
    <td><%= link_to 'Ver', change_log %></td>
    <td><%= link_to 'Editar', edit_change_log_path(change_log) %></td>
    <td><%= link_to 'Eliminar', change_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'Crear Log de Cambios', new_change_log_path, :method => :get %>
