<p id="notice"><%= notice %></p>
<center>
<p>
  <b>Hora:</b>
  <%= @change_log.hora %>
</p>

<p>
  <b>Tabla:</b>
  <%= @change_log.tabla %>
</p>

<p>
  <b>Id objeto:</b>
  <%= @change_log.id_objeto %>
</p>

<p>
  <b>User:</b>
  <%= @change_log.user %>
</p>


<%= button_to 'Editar', edit_change_log_path(@change_log), :method => :get %>
</center>
<div align="Left"><%= button_to 'Volver', change_logs_path, :method => :get %></div>
