<HTML>
<HEAD><link rel="shortcut icon" href="favicon.ico"></HEAD>
<header class="navbar navbar-fixed-top navbar-inverse">
<div class="row" >
    <Center><a class="navbar-brand" href="/"><img src="/assets/srls.jpg" /></a></Center>
  </div>
  <div class="navbar-inner">
    <div class="container">      
      
        <nav>
          <% if user_signed_in?%>
          <ul class="nav pull-left">
          <!--li><a class="navbar-brand" href="/"><img src="/assets/srls.jpg" /></a>   </li></ul-->
          <ul class="nav pull-right">
          
              <li><%= link_to "Libros de Bautizo", '/baptism_books'%></li>
              <li><%= link_to "Libros de Confirmacion", '/confirmation_books'%></li>
              <li><%= link_to "Libros de Matrimonio", '/marriege_books'%></li>
              <li><%= link_to "Libros de Defuncion", '/death_record_books'%></li>
              <li><%= link_to "Validaciones", '/validators'%></li>
              <% if current_user.rol==1 %>
                <li><%= link_to "Usuarios", '/user_managers'%></li>
                <li><%= link_to "Agregar Parroquia", '/churches'%></li>
              <% end %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Usuario <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Cambiar contraseña", '/user_managers/edit_password/'+current_user.id.to_s %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Cerrar Sesion", '/user_logs/cerrar_sesion'%>
                  </li>
                </ul>
              </li>
          <% else %>
          <ul class="nav pull-right">
            <!--<li><%= link_to "Registrarse", new_user_registration_path %></li>--> <li><%= link_to "Iniciar Sesion", new_user_session_path %><!--%= link_to "Iniciar Sesion", signin_path %></li--></li>
            </ul>
          <% end %>
          </ul>
        </nav>
    </div>
  </div>
</header>
</HTML>