<%= form_for(@death_record_book) do |f| %>
  <% if @death_record_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@death_record_book.errors.count, "error") %> prohibited this death_record_book from being saved:</h2>

      <ul>
      <% @death_record_book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo, "Codigo del Libro" %>
    <%= f.text_field :codigo, placeholder: "Codigo del Libro"  %>
  </div><br>
  <div class="field">
    <%= f.label :numero, "Numero del Libro" %>
    <%= f.text_field :numero, placeholder: "Numero del Libro"  %>
  </div><br>
  <div class="field">
    <%= f.label :paginas, "Cantidad de Paginas" %>
    <%= f.text_field :paginas, placeholder: "Numero de Paginas"  %>
  </div><br>
  <div class="field">
    <%= f.label :partidas_pagina, "Cantidad de Partidas por Pagina" %>
    <%= f.text_field :partidas_pagina, placeholder: "Numero de Partidas por Pagina"  %>
  </div><br>
  <div class="field">
    <%=f.label :parroquia, "Parroquia de pertenencia" %>
    <%=f.collection_select(:parroquia, Church.all, :nombre, :nombre)%>
  </div><br>
  <!--div class="field">
    <%= f.label :validado %>
    <%= f.check_box :validado %>
  </div>
  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :user %>
  </div-->
  <div class="actions">
    <%= f.submit "Crear Libro de Defuncion" %>
  </div><br>
<% end %>
