<h1>Libros de Defuncion</h1>
<%= button_to 'Crear Nuevo Libro', new_death_record_book_path, :method => :get %>
<br>
<form method="GET" action="/death_record_books/search">
	Codigo: <input type="text" name="codigo"> &nbsp;&nbsp;&nbsp; Parroquia: <input type="text" name="parroquia">
	&nbsp;&nbsp;&nbsp; <input type="submit" value="Filtrar">
</form>
<br>
<br>
<form method="GET" action="/death_record_books/searchName">
    Nombre: <input type="text" name="nombre"> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Buscar">
</form>
<br>
<br>
<CENTER>
<table>
  <tr>
    <th><%=link_to "Codigo", :sort => "Codigo" %></th>
    <th>Numero</th>
    <th><%=link_to "Parroquia", :sort => "Parroquia" %></th>
    <th>Paginas</th>
    <th>Partidas pagina</th>
    <!--th>Validado</th>
    <th>User</th-->
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= will_paginate %>
<% @death_record_books.each do |death_record_book| %>
  <tr>
    <td><%= death_record_book.codigo %></td>
    <td><%= death_record_book.numero %></td>
    <td><%= death_record_book.parroquia %></td>
    <td><%= death_record_book.paginas %></td>
    <td><%= death_record_book.partidas_pagina %></td>
    <!--td><%= death_record_book.validado %></td>
    <td><%= death_record_book.user %></td-->
    <td><%= link_to 'Ver', death_record_book %></td>
    <td><%= link_to 'Editar', edit_death_record_book_path(death_record_book) %></td>
    <!--td><%= link_to 'Eliminar', death_record_book, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
  </tr>
<% end %>
<%= will_paginate %>
</table>
<br>
<%= link_to "Validar Libros", '/validators/pending_index/death_record_books'%> |
<%= link_to "Ver validaciones de Libros", '/validators/not_valid_index/Libro de Defuncion'%>
<br><br>
<%= link_to "Validar Partidas", '/validators/pending_index/death_record_items'%> |
<%= link_to "Ver validaciones de Partidas", '/validators/not_valid_index/Partida de Defuncion'%>
</CENTER>
