<p id="notice"><%= notice %></p>

<p>
  <b>Codigo:</b>
  <%= @death_record_book.codigo %>
</p>

<p>
  <b>Numero:</b>
  <%= @death_record_book.numero %>
</p>

<p>
  <b>Parroquia:</b>
  <%= @death_record_book.parroquia %>
</p>

<p>
  <b>Paginas:</b>
  <%= @death_record_book.paginas %>
</p>

<p>
  <b>Partidas pagina:</b>
  <%= @death_record_book.partidas_pagina %>
</p>

<!--p>
  <b>Validado:</b>
  <%= @death_record_book.validado %>
</p>

<p>
  <b>User:</b>
  <%= @death_record_book.user %>
</p-->
<h2>Partidas:</h2>
<table>
  <tr>
    <th>Tomo libro</th>
    <th>Numero</th>
    <th>Pagina</th>
    <th>Nombre</th>
    <th>Fecha</th>
    <th>Edad</th>
    <th>Motivo muerte</th>
    <th>Tipo hijo</th>
    <th>Padre</th>
    <th>Madre</th>
    <th>Lugar sepultura</th>
    <th>Celebrante</th>
    <!--th>Validado</th>
    <th>User</th>
    <th>Death record book</th-->
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @death_record_book.death_record_items.each do |death_record_item| %>
  <tr>
    <td><%= death_record_item.tomo_libro %></td>
    <td><%= death_record_item.numero %></td>
    <td><%= death_record_item.pagina %></td>
    <td><%= death_record_item.nombre %></td>
    <td><%= death_record_item.fecha %></td>
    <td><%= death_record_item.edad %></td>
    <td><%= death_record_item.motivo_muerte %></td>
    <td><%= death_record_item.tipo_hijo %></td>
    <td><%= death_record_item.padre %></td>
    <td><%= death_record_item.madre %></td>
    <td><%= death_record_item.lugar_sepultura %></td>
    <td><%= death_record_item.celebrante %></td>
    <!--td><%= death_record_item.validado %></td>
    <td><%= death_record_item.user %></td>
    <td><%= death_record_item.death_record_book %></td-->
    <td><%= link_to 'Ver', death_record_item %></td>
    <td><%= link_to 'Editar', edit_death_record_item_path(death_record_item) %></td>
    <!--td><%= link_to 'Eliminar', death_record_item, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
  </tr>
<% end %>
</table>
<h2>Agregar Partida:</h2>
<%= render "death_record_items/form" %>


<%= link_to 'Editar', edit_death_record_book_path(@death_record_book) %> |>
<%= link_to 'Volver', death_record_books_path %>
