  <%= form_for([@marriege_book, @marriege_book.marriege_items.build]) do |f| %>


  <div class="field">
    <%= f.label :tomo_libro, "Tomo del Libro" %>
    <%= f.text_field :tomo_libro, placeholder: "Tomo del Libro"  %>
  </div><br>
  <div class="field">
    <%= f.label :numero, "Numero de Partida" %>
    <%= f.text_field :numero, placeholder: "Numero Partida"  %>
  </div><br>
    <div class="field">
    <%= f.label :pagina, "Pagina del Libro" %>
    <%= f.text_field :pagina, placeholder: "Numero Pagina"  %>
  </div><br>
  <div class="field">
    <%= f.label :fecha_matrimonio, "Fecha de Matrimonio" %>
    <%= f.date_select :fecha_matrimonio, :start_year => 1830, :end_year=>2013 %>
  </div><br>
  <div class="field">
    <%= f.label :celebrante, "Celebrante" %>
    <%= f.text_field :celebrante, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :nombre_esposo, "Nombre del Esposo" %>
    <%= f.text_field :nombre_esposo, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :edad_esposo, "Edad del Esposo" %>
    <%= f.text_field :edad_esposo, placeholder: "Edad"  %>
  </div><br>
  <div class="field">
    <%= f.label :profesion_esposo, "Profesion del Esposo" %>
    <%= f.text_field :profesion_esposo, placeholder: "Profesion"  %>
  </div><br>
  <div class="field">
    <%= f.label :tipo_hijo_esposo, "Tipo de Hijo" %>
    <%= f.text_field :tipo_hijo_esposo, placeholder: "Tipo de Hijo"  %>
  </div><br>
  <div class="field">
    <%= f.label :padre_esposo, "Nombre del Padre" %>
    <%= f.text_field :padre_esposo, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :madre_esposo, "Nombre de la Madre" %>
    <%= f.text_field :madre_esposo, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :lugar_nacimiento_esposo, "Lugar de Nacimiento" %>
    <%= f.text_field :lugar_nacimiento_esposo, placeholder: "Lugar de Nacimiento"  %>
  </div><br>
  <div class="field">
    <%= f.label :fecha_nacimiento_esposo, "Fecha de Nacimiento" %>
    <%= f.date_select :fecha_nacimiento_esposo, :start_year => 1830, :end_year=>2013 %>
  </div><br>
  <div class="field">
    <%= f.label :parroquia_bautizo_esposo, "Parroquia de Bautizo" %>
    <%= f.text_field :parroquia_bautizo_esposo, placeholder: "Nombre Parroquia"  %>
  </div><br>
  <div class="field">
    <%= f.label :fecha_bautizo_esposo, "Fecha de Bautizo" %>
    <%= f.date_select :fecha_bautizo_esposo, :start_year => 1830, :end_year=>2013 %>
  </div><br>
  <div class="field">
    <%= f.label :nombre_esposa, "Nombre de la Esposa" %>
    <%= f.text_field :nombre_esposa, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :edad_esposa, "Edad de la Esposa" %>
    <%= f.text_field :edad_esposa, placeholder: "Edad"  %>
  </div><br>
  <div class="field">
    <%= f.label :profesion_esposa, "Profesion de la Esposa" %>
    <%= f.text_field :profesion_esposa, placeholder: "Profesion"  %>
  </div><br>
  <div class="field">
    <%= f.label :tipo_hijo_esposa, "Tipo de Hija" %>
    <%= f.text_field :tipo_hijo_esposa, placeholder: "Tipo de Hija"  %>
  </div><br>
  <div class="field">
    <%= f.label :padre_esposa, "Nombre del Padre" %>
    <%= f.text_field :padre_esposa, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :madre_esposa, "Nombre de la Madre" %>
    <%= f.text_field :madre_esposa, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :lugar_nacimiento_esposa, "Lugar de Nacimiento" %>
    <%= f.text_field :lugar_nacimiento_esposa, placeholder: "Lugar de Nacimiento"  %>
  </div><br>
  <div class="field">
    <%= f.label :fecha_nacimiento_esposa, "Fecha de Nacimiento" %>
    <%= f.date_select :fecha_nacimiento_esposa, :start_year => 1830, :end_year=>2013 %>
  </div><br>
  <div class="field">
    <%= f.label :parroquia_bautizo_esposa, "Parroquia de Bautizo" %>
    <%= f.text_field :parroquia_bautizo_esposa, placeholder: "Nombre Parroquia"  %>
  </div><br>
  <div class="field">
    <%= f.label :fecha_bautizo_esposa, "Fecha de Bautizo" %>
    <%= f.date_select :fecha_bautizo_esposa, :start_year => 1830, :end_year=>2013 %>
  </div><br>
  <div class="field">
    <%= f.label :feligreses, "Feligreses de..." %>
    <%= f.text_field :feligreses, placeholder: "Nombre Parroquia"  %>
  </div><br>
  <div class="field">
    <%= f.label :primer_testigo, "Nombre del(a) Primer Testigo(a)" %>
    <%= f.text_field :primer_testigo, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :segundo_testigo, "Nombre del(a) Segundo(a) Testigo(a)" %>
    <%= f.text_field :segundo_testigo, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :encargado, "Encargado de la Parroquia" %>
    <%= f.text_field :encargado, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :oficialia, "Numero de Oficialia" %>
    <%= f.text_field :oficialia, placeholder: "Numero Oficialia"  %>
  </div><br>
  <div class="field">
    <%= f.label :num_partida_libreta_familiar, "Numero de Partida de Libreta Familiar" %>
    <%= f.text_field :num_partida_libreta_familiar, placeholder: "Numero Partida"  %>
  </div><br>
  <div class="field">
    <%= f.label :bendicion_nupcial_de, "Bendicion Nupcial por" %>
    <%= f.text_field :bendicion_nupcial_de, placeholder: "Nombre Completo"  %>
  </div><br>
  <div class="field">
    <%= f.label :en_el, "Recibida en" %>
    <%= f.text_field :en_el, placeholder: "Lugar"  %>
  </div><br>
  <div class="field">
    <%= f.label :en_fecha, "En Fecha" %>
    <%= f.date_select :en_fecha, :start_year => 1830, :end_year=>2013 %>
  </div><br>
  <!--div class="field">
    <%= f.label :validado %>
    <%= f.check_box :validado %>
  </div>
  <div class="field">
    <%= f.label :user %>
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :marriege_book %>
    <%= f.text_field :marriege_book %>
  </div-->
  <div class="actions">
    <%= f.submit "Crear Partida de Matrimonio"%>
  </div><br>
<% end %>
