<h1>Editing marriege_item</h1>
 <%= form_for(@marriege_item) do |f| %>
  <% if @marriege_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@marriege_item.errors.count, "error") %> prohibited this marriege_item from being saved:</h2>

      <ul>
      <% @marriege_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
    <%= f.label :tomo_libro, "Tomo del Libro" %><br />
    <%= f.text_field :tomo_libro %>
  </div>
  <div class="field">
    <%= f.label :numero, "Numero de Partida" %><br />
    <%= f.text_field :numero %>
  </div>
    <div class="field">
    <%= f.label :pagina, "Pagina del Libro" %><br />
    <%= f.text_field :pagina %>
  </div>
  <div class="field">
    <%= f.label :fecha_matrimonio, "Fecha de Matrimonio" %><br />
    <%= f.date_select :fecha_matrimonio %>
  </div>
  <div class="field">
    <%= f.label :celebrante, "Celebrante" %><br />
    <%= f.text_field :celebrante %>
  </div>
  <div class="field">
    <%= f.label :nombre_esposo, "Nombre del Esposo" %><br />
    <%= f.text_field :nombre_esposo %>
  </div>
  <div class="field">
    <%= f.label :edad_esposo, "Edad del Esposo" %><br />
    <%= f.text_field :edad_esposo %>
  </div>
  <div class="field">
    <%= f.label :profesion_esposo, "Profesion del Esposo" %><br />
    <%= f.text_field :profesion_esposo %>
  </div>
  <div class="field">
    <%= f.label :tipo_hijo_esposo, "Tipo de Hijo" %><br />
    <%= f.text_field :tipo_hijo_esposo %>
  </div>
  <div class="field">
    <%= f.label :padre_esposo, "Nombre del Padre" %><br />
    <%= f.text_field :padre_esposo %>
  </div>
  <div class="field">
    <%= f.label :madre_esposo, "Nombre de la Madre" %><br />
    <%= f.text_field :madre_esposo %>
  </div>
  <div class="field">
    <%= f.label :lugar_nacimiento_esposo, "Lugar de Nacimiento" %><br />
    <%= f.text_field :lugar_nacimiento_esposo %>
  </div>
  <div class="field">
    <%= f.label :fecha_nacimiento_esposo, "Fecha de Nacimiento" %><br />
    <%= f.date_select :fecha_nacimiento_esposo %>
  </div>
  <div class="field">
    <%= f.label :parroquia_bautizo_esposo, "Parroquia de Bautizo" %><br />
    <%= f.text_field :parroquia_bautizo_esposo %>
  </div>
  <div class="field">
    <%= f.label :fecha_bautizo_esposo, "Fecha de Bautizo" %><br />
    <%= f.date_select :fecha_bautizo_esposo %>
  </div>
  <div class="field">
    <%= f.label :nombre_esposa, "Nombre de la Esposa" %><br />
    <%= f.text_field :nombre_esposa %>
  </div>
  <div class="field">
    <%= f.label :edad_esposa, "Edad de la Esposa" %><br />
    <%= f.text_field :edad_esposa %>
  </div>
  <div class="field">
    <%= f.label :profesion_esposa, "Profesion de la Esposa" %><br />
    <%= f.text_field :profesion_esposa %>
  </div>
  <div class="field">
    <%= f.label :tipo_hijo_esposa, "Tipo de Hija" %><br />
    <%= f.text_field :tipo_hijo_esposa %>
  </div>
  <div class="field">
    <%= f.label :padre_esposa, "Nombre del Padre" %><br />
    <%= f.text_field :padre_esposa %>
  </div>
  <div class="field">
    <%= f.label :madre_esposa, "Nombre de la Madre" %><br />
    <%= f.text_field :madre_esposa %>
  </div>
  <div class="field">
    <%= f.label :lugar_nacimiento_esposa, "Lugar de Nacimiento" %><br />
    <%= f.text_field :lugar_nacimiento_esposa %>
  </div>
  <div class="field">
    <%= f.label :fecha_nacimiento_esposa, "Fecha de Nacimiento" %><br />
    <%= f.date_select :fecha_nacimiento_esposa %>
  </div>
  <div class="field">
    <%= f.label :parroquia_bautizo_esposa, "Parroquia de Bautizo" %><br />
    <%= f.text_field :parroquia_bautizo_esposa %>
  </div>
  <div class="field">
    <%= f.label :fecha_bautizo_esposa, "Fecha de Bautizo" %><br />
    <%= f.date_select :fecha_bautizo_esposa %>
  </div>
  <div class="field">
    <%= f.label :feligreses, "Feligreses de..." %><br />
    <%= f.text_field :feligreses %>
  </div>
  <div class="field">
    <%= f.label :primer_testigo, "Nombre del(a) Primer Testigo(a)" %><br />
    <%= f.text_field :primer_testigo %>
  </div>
  <div class="field">
    <%= f.label :segundo_testigo, "Nombre del(a) Segundo(a) Testigo(a)" %><br />
    <%= f.text_field :segundo_testigo %>
  </div>
  <div class="field">
    <%= f.label :encargado, "Encargado de la Parroquia" %><br />
    <%= f.text_field :encargado %>
  </div>
  <div class="field">
    <%= f.label :oficialia, "Numero de Oficialia" %><br />
    <%= f.text_field :oficialia %>
  </div>
  <div class="field">
    <%= f.label :num_partida_libreta_familiar, "Numero de Partida de Libreta Familiar" %><br />
    <%= f.text_field :num_partida_libreta_familiar %>
  </div>
  <div class="field">
    <%= f.label :bendicion_nupcial_de, "Bendicion Nupcial por" %><br />
    <%= f.text_field :bendicion_nupcial_de %>
  </div>
  <div class="field">
    <%= f.label :en_el, "Recibida en" %><br />
    <%= f.text_field :en_el %>
  </div>
  <div class="field">
    <%= f.label :en_fecha, "En Fecha" %><br />
    <%= f.date_select :en_fecha %>
  </div>
  <!--div class="field">
    <%= f.label :validado %><br />
    <%= f.check_box :validado %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :marriege_book %><br />
    <%= f.text_field :marriege_book %>
  </div-->
  <div class="actions">
    <%= f.submit "Crear Partida de Matrimonio"%>
  </div>
<% end %>
<%= link_to 'Ver', @marriege_item %> |
<a href = "/marriege_books/<%= @marriege_item.marriege_book.id %>"> Volver </a>


