<HTML>
<HEAD>
<link rel="stylesheet" href="print.css" type="text/css" media="print" />
</HEAD>
<BODY onLoad="window.print();">
<DIV style="position: absolute;top: 200px; font-family:Times News Roman; font-size:22px; width: 400px; left: 600px; height: 25px;">PBRO. HONNY VILLARROEL RAMIREZ<BR>CANCILLER<BR>ARZOBISPADO DE COCHABAMBA</DIV>

<DIV style="position: absolute;top:450px; font-size:22px; width:400px; font-family:Times News Roman; left: 50px; height: 25px;">CERTIFICA:</DIV>

<DIV style="position: absolute;top: 520px; font-size:22px; font-family:Times News Roman; width: 805px; left: 160px; height: 35px;">Que en el Libro Duplicado de Matrimonios No <%=@marriege_item.marriege_book.numero%>, de la Parroquia <%=@marriege_item.marriege_book.parroquia%>, en la pag. <%=@marriege_item.pagina%>, ptda. No <%=@marriege_item.numero%>, correspondiente al año <%=@marriege_item.fecha_matrimonio.year%>, se encuentra la siguiente Partida de Matrimonio, que a la letra dice: </DIV><BR><BR><BR>

<DIV style="position: absolute;top: 650px; font-size:22px; width: 805px; font-family:Times News Roman; left: 160px; height: 35px;">"En esta Parroquia <%=@marriege_item.marriege_book.parroquia%>, el <%=I18n.localize(@marriege_item.fecha_matrimonio, :format => :long)%>, previa la información de libertad y soltería dada por los testigos abajo nombrados, publicadas las tres proclamas; y llenados todos los requisitos de Derechco; no resultando impedimento alguno el suscrito Párroco Pbro. <%=@marriege_item.celebrante%>, bendijo el matrimonio de: <B><%=@marriege_item.nombre_esposo%></B>, de <%=@marriege_item.edad_esposo%> años de edad, soltero, bautizado en la Parroquia de <%=@marriege_item.parroquia_bautizo_esposo%>, hijo <%=@marriege_item.tipo_hijo_esposo%> de <%=@marriege_item.padre_esposo%> y de <%=@marriege_item.madre_esposo%>, con <B><%=@marriege_item.nombre_esposa%></B>, de <%=@marriege_item.edad_esposa%> años de edad, soltera, bautizada en la Parroquia de <%=@marriege_item.parroquia_bautizo_esposa%>, hija legitima de <%=@marriege_item.padre_esposa%> y de <%=@marriege_item.madre_esposa%>. Fueron testigos: <%=@marriege_item.primer_testigo%> y <%=@marriege_item.segundo_testigo%>. De que doy fé, Yo el Párroco. (fdo) Pbro.  <%=@marriege_item.celebrante%>."
<CENTER><DIV style="position: absolute; top: 290px; left:350px; font-size:22px; width: 400px; font-family:Times News Roman; ">Es cuanto certifica para fines consiguientes. Cochabamba, <%=I18n.localize(Date.today, :format => :long)%>
</DIV></CENTER>

<DIV style="position: absolute; top: 540px; font-size:22px; width: 805; font-family:Times News Roman; "><U>Nota.-</U> Cualquier enmienda o raspadura en el presente Certificado lo hacen nulo y sin valor legal.</DIV>

</BDOY>
</HTML>