<p id="notice"><%= notice %></p>

<br>
<CENTER><p>
<h2>DATOS DE LA PARTIDA</h2>
</p>

<p>
  <b>Tomo del libro:</b>
  <%= @marriege_item.tomo_libro %>
</p>

<p>
  <b>Numero:</b>
  <%= @marriege_item.numero %>
</p>

<p>
  <b>Pagina:</b>
  <%= @marriege_item.pagina %>
</p>


<p>
  <b>Fecha de matrimonio:</b>
  <%= @marriege_item.fecha_matrimonio %>
</p>

<p>
  <b>Celebrante:</b>
  <%= @marriege_item.celebrante %>
</p>

<p>
  <b>Nombre del esposo:</b>
  <%= @marriege_item.nombre_esposo %>
</p>

<p>
  <b>Edad del esposo:</b>
  <%= @marriege_item.edad_esposo %>
</p>

<p>
  <b>Profesion del esposo:</b>
  <%= @marriege_item.profesion_esposo %>
</p>

<p>
  <b>Tipo de hijo del esposo:</b>
  <%= @marriege_item.tipo_hijo_esposo %>
</p>

<p>
  <b>Padre del esposo:</b>
  <%= @marriege_item.padre_esposo %>
</p>

<p>
  <b>Madre del esposo:</b>
  <%= @marriege_item.madre_esposo %>
</p>

<p>
  <b>Lugar de nacimiento del esposo:</b>
  <%= @marriege_item.lugar_nacimiento_esposo %>
</p>

<p>
  <b>Fecha de nacimiento del esposo:</b>
  <%= @marriege_item.fecha_nacimiento_esposo %>
</p>

<p>
  <b>Parroquia de bautizo del esposo:</b>
  <%= @marriege_item.parroquia_bautizo_esposo %>
</p>

<p>
  <b>Fecha de bautizo del esposo:</b>
  <%= @marriege_item.fecha_bautizo_esposo %>
</p>

<p>
  <b>Nombre de la esposa:</b>
  <%= @marriege_item.nombre_esposa %>
</p>

<p>
  <b>Edad de la esposa:</b>
  <%= @marriege_item.edad_esposa %>
</p>

<p>
  <b>Profesion de la esposa:</b>
  <%= @marriege_item.profesion_esposa %>
</p>

<p>
  <b>Tipo de hijo de la esposa:</b>
  <%= @marriege_item.tipo_hijo_esposa %>
</p>

<p>
  <b>Padre de la esposa:</b>
  <%= @marriege_item.padre_esposa %>
</p>

<p>
  <b>Madre de la esposa:</b>
  <%= @marriege_item.madre_esposa %>
</p>

<p>
  <b>Lugar de nacimiento de la esposa:</b>
  <%= @marriege_item.lugar_nacimiento_esposa %>
</p>

<p>
  <b>Fecha de nacimiento de la esposa:</b>
  <%= @marriege_item.fecha_nacimiento_esposa %>
</p>

<p>
  <b>Parroquia de bautizo de la esposa:</b>
  <%= @marriege_item.parroquia_bautizo_esposa %>
</p>

<p>
  <b>Fecha de bautizo de la esposa:</b>
  <%= @marriege_item.fecha_bautizo_esposa %>
</p>

<p>
  <b>Feligreses:</b>
  <%= @marriege_item.feligreses %>
</p>

<p>
  <b>Primer testigo:</b>
  <%= @marriege_item.primer_testigo %>
</p>

<p>
  <b>Segundo testigo:</b>
  <%= @marriege_item.segundo_testigo %>
</p>

<p>
  <b>Encargado:</b>
  <%= @marriege_item.encargado %>
</p>

<p>
  <b>Oficialia:</b>
  <%= @marriege_item.oficialia %>
</p>

<p>
  <b>Num partida libreta familiar:</b>
  <%= @marriege_item.num_partida_libreta_familiar %>
</p>

<p>
  <b>Bendicion nupcial de:</b>
  <%= @marriege_item.bendicion_nupcial_de %>
</p>

<p>
  <b>En el:</b>
  <%= @marriege_item.en_el %>
</p>

<p>
  <b>En fecha:</b>
  <%= @marriege_item.en_fecha %>
</p>

<!--p>
  <b>Validado:</b>
  <%= @marriege_item.validado %>
</p>

<p>
  <b>User:</b>
  <%= @marriege_item.user %>
</p-->

<!--p>
  <b>Marriege book:</b>
  <%= @marriege_item.marriege_book %>
</p-->
</CENTER>
<br>
<br>

<DIV align="left"><a href = "/marriege_books/<%= @marriege_item.marriege_book.id %>"> Volver </a></DIV>
<DIV align="right"><a href = "/marriege_items/<%= @marriege_item.id %>/print"> Imprimir </a></DIV>